.container {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 0 auto;
  margin-top: 25px;
}

.postsContainer {
  width: 68%;
}

.booksContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newPostContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #e7e7e7;
  border-radius: 10px;
  justify-content: space-between;
  color: grey;
}

.newPostContainer button {
  border: none;
  border-radius: 5px;
  background-color: #b9dde2;
  color: grey;
  padding: 15px 35px;
  font-size: 18px;
  cursor: pointer;
}

.posts {
  margin-top: 25px;
}

.post {
  height: 200px;
  width: 100%;
  margin: 15px 0;
  display: flex;
  position: relative;
  cursor: pointer;
}

.post img {
  max-height: 100%;
}

.postInfo {
  margin-left: 20px;
}

.userId {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #c7c7c7;
}

.books1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.books1 img {
  max-width: 200px;
  min-height: 300px;
  width: 100%;
}

.books2 {
  margin-top: 10px;
  width: 100%;
}

.books2 {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
